h1 {
    margin: 0;
}

div.video_container {
    border: 5px solid tomato;
    width: 560px;
    margin: 0 auto;
}

.left_column {
    float: left;
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.middle_column {
    float: left;
    width: 45%;
}

.right_column {
    float: left;
    width: 15%;
}

div.title {
    height: 760px;
}

div.title h1 {
    line-height: 710px;
    font-size: 60px;
    color: white;
    text-align: center;     
}

div.title .ytlink {
    text-align: right;
    padding-right:80px;
    padding-top:20px;   
}

div.title .ytlink a:link {
    color: black;
    text-decoration: none;
}

div.title .ytlink a:hover {
    color: #303030;
    text-decoration: underline; 
}

div.title .ytlink a:visited {
    color: #626262;
    text-decoration: none
}

.columns{
    content: "";
    display: table;
    clear: none;
}

.column_far_left{
    float: right;
    width: 20%;
}

.column_closer_left{
    width: 20%;
    font-size: 25px;
}
.column_middle_middle{
    width: 75%;
    margin-left: 500px;
}
.column_closer_right{
    width: 20%;
}

.column_far_right{
    width: 20%;

}

body {
    margin: 0;
    font-family:"Trebuchet MS";
}

